<ion-view title="Adicionar receita" id="page8">
  <ion-content padding="true" class="has-header">
    <h5 id="adicionarReceita-heading20" style="color:#000000;font-weight:400;">Preencha as informações abaixo para adicionar a receita</h5>
    <h4 id="adicionarReceita-heading21" style="color:#2ECC71;">Medicamento</h4>
    <form id="adicionarReceita-form12" class="list">
      <label class="item item-input" id="adicionarReceita-input17">
        <input type="text" placeholder="Nome do medicamento">
      </label>
    </form>
    <h4 id="adicionarReceita-heading22" style="color:#2ECC71;">CRM - Médico</h4>
    <form id="adicionarReceita-form13" class="list">
      <label class="item item-input" id="adicionarReceita-input18">
        <input type="text" placeholder="CRM do médico">
      </label>
    </form>
    <h4 id="adicionarReceita-heading24" style="color:#2ECC71;">Foto da Receita</h4>
    <button id="adicionarReceita-button15" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Adicionar foto da receita</button>
    <a ui-sref="guilhermeLimaVieiraDaSilva()" id="adicionarReceita-button16" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Enviar</a>
  </ion-content>
</ion-view>