<ion-view title="Adicionar cartão" id="page9">
  <ion-content padding="true" class="has-header">
    <h5 id="adicionarCartO-heading26" style="color:#000000;font-weight:400;">Preencha as informações abaixo para adicionar a receita</h5>
    <h4 id="adicionarCartO-heading27" style="color:#2ECC71;">Número do SUS</h4>
    <form id="adicionarCartO-form14" class="list">
      <label class="item item-input" id="adicionarCartO-input19">
        <input type="text" placeholder="Número do SUS">
      </label>
    </form>
    <h4 id="adicionarCartO-heading28" style="color:#2ECC71;">Nome</h4>
    <form id="adicionarCartO-form15" class="list">
      <label class="item item-input" id="adicionarCartO-input20">
        <input type="text" placeholder="Nome do Paciente">
      </label>
    </form>
    <h4 id="adicionarCartO-heading29" style="color:#2ECC71;">Foto do Cartão</h4>
    <button id="adicionarCartO-button17" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Adicionar foto do cartão</button>
    <a ui-sref="meusCartEs()" id="adicionarCartO-button18" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Enviar</a>
  </ion-content>
</ion-view>