<ion-view title="Cadastrar" id="page3">
  <ion-content padding="true" class="has-header">
    <h5 id="cadastrar-heading7" style="color:#000000;font-weight:400;">Preencha as informações abaixo para efetuar o cadastro</h5>
    <h4 id="cadastrar-heading8" style="color:#000000;font-weight:400;">Informações Básicas</h4>
    <form id="cadastrar-form7" class="list">
      <label class="item item-input" id="cadastrar-input10">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input" id="cadastrar-input11">
        <input type="email" placeholder="E-mail">
      </label>
      <label class="item item-input" id="cadastrar-input12">
        <input type="password" placeholder="Senha">
      </label>
    </form>
    <h4 id="cadastrar-heading9" style="color:#000000;font-weight:400;">Localidade</h4>
    <form id="cadastrar-form9" class="list">
      <label class="item item-select" id="cadastrar-select1">
        <span class="input-label">Estado</span>
        <select>
          <option>São Paulo</option>
          <option>Rio de Janeiro</option>
        </select>
      </label>
      <label class="item item-input" id="cadastrar-input14">
        <input type="text" placeholder="Cidade">
      </label>
    </form>
    <h5 id="cadastrar-heading10" style="color:#000000;font-weight:400;">Em qual UBS deseja retirar o medicamento?</h5>
    <form id="cadastrar-form11" class="list">
      <label class="item item-select" id="cadastrar-select2">
        <span class="input-label">UBS</span>
        <select>
          <option>Jd. Nélia</option>
          <option>Brasilândia</option>
          <option>Jd. Peri</option>
          <option></option>
        </select>
      </label>
      <a ui-sref="meusCartEs()" id="cadastrar-button12" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Cadastrar</a>
    </form>
  </ion-content>
</ion-view>