<ion-view title="Denúncia Enviada" id="page11">
  <ion-content padding="true" class="has-header">
    <h1 id="denNciaEnviada-heading31" style="color:#2ECC71;text-align:center;">Agradeçemos a sua denúncia!</h1>
    <div id="denNciaEnviada-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Assim que solucionado o problema, enviaremos uma notificação para você!</p>
    </div>
    <a ui-sref="meusCartEs()" id="denNciaEnviada-button20" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Voltar para a home</a>
  </ion-content>
</ion-view>