<ion-view title="Enviar Denúncia" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="enviarDenNcia-heading30" style="color:#2ECC71;text-align:center;">Seu remédio não chegou?</h3>
    <div id="enviarDenNcia-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Envie uma denúncia à prefeitura, avisando que o seu remédio ainda não chegou em suas mãos.</p>
    </div>
    <div>
      <img src="img/fyRlBtfTQXa1wTe7YJk1_customer.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="denNciaEnviada()" id="enviarDenNcia-button19" class="button button-balanced button-block">Enviar denúncia</a>
  </ion-content>
</ion-view>