<ion-view title="Guilherme Lima Vieira da Silva" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="guilhermeLimaVieiraDaSilva-list2">
      <ion-item class="item-thumbnail-left" id="guilhermeLimaVieiraDaSilva-list-item7" ui-sref="medicamento()">
        <img src="img/dY8KQ0DTYGc52nOeRrXK_dipirona.webp">
        <h2>DIPIRONA 500mg</h2>
        <p>Retirada - 20/07 </p>
      </ion-item>
    </ion-list>
    <a ui-sref="adicionarReceita()" id="guilhermeLimaVieiraDaSilva-button11" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Adicionar Receita</a>
  </ion-content>
</ion-view>