<ion-view title="Login" id="page1" style="background-color:#27AE60;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Q8N17TT4RzGR6XNLCvhH_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="login-heading3" style="color:#463B3B;text-align:center;">Entre com sua conta</h3>
    <form id="login-form5" class="list">
      <label class="item item-input" id="login-input4">
        <input type="email" placeholder="E-mail">
      </label>
      <label class="item item-input" id="login-input5">
        <input type="password" placeholder="Senha">
      </label>
    </form>
    <a ui-sref="meusCartEs()" id="login-button1" style="border-radius:8px 8px 8px 8px;" class="button button-dark button-block">Entrar</a>
    <h4 id="login-heading4" style="color:#463B3B;text-align:center;">Não possui conta?</h4>
    <a ui-sref="cadastrar()" id="login-button9" style="color:#463B3B;font-size:20px;border-radius:8px 8px 8px 8px;" class="button button-light button-block button-clear">Cadastrar</a>
  </ion-content>
</ion-view>