<ion-view title="Medicamento" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/2S4piQwjQ92V5DC5fK9i_dipirona.webp" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="medicamento-heading14" style="color:#2ECC71;text-align:center;">DIPIRONA 500mg</h4>
    <h4 id="medicamento-heading11" style="color:#2ECC71;">UBS para retirada</h4>
    <h4 id="medicamento-heading12" style="color:#000000;font-weight:400;">UBS Jd. Nélia</h4>
    <h4 id="medicamento-heading13" style="color:#2ECC71;">Previsão de retirada</h4>
    <h4 id="medicamento-heading15" style="color:#000000;font-weight:400;">20/07/2018</h4>
    <h4 id="medicamento-heading16" style="color:#2ECC71;">CRM Médico</h4>
    <h4 id="medicamento-heading17" style="color:#000000;font-weight:400;">1030234398/SP</h4>
    <h4 id="medicamento-heading19" style="color:#2ECC71;"></h4>
    <a ui-sref="receita()" id="medicamento-button13" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Ver receita</a>
    <a ui-sref="enviarDenNcia()" id="medicamento-button14" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">CADÊ MEU REMÉDIO?</a>
  </ion-content>
</ion-view>