<ion-view title="Meus Cartões" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="guilhermeLimaVieiraDaSilva()">
        <img src="img/W2Lbm2vAR7ivGSeh9zjH_cartao-sus.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="adicionarCartO()" id="meusCartEs-button10" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-block">Adicionar cartão</a>
  </ion-content>
</ion-view>