<ion-view title="Centro de Saúde" id="page6">
  <ion-content padding="true" class="has-header">
    <creator-map-component options="{}" marker="true" location="Madison Capital" zoom="12" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <a ui-sref="home()" id="centroDeSaDe-button6" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>