<ion-view title="Câmera" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/732YsVrTdg4SKus9auzw_receitaparajacky.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="cMera-button-bar2" class="button-bar">
      <a ui-sref="receita()" id="cMera-button17" style="border-radius:200px 200px 200px 200px;" class="button button-positive button-block">(o)</a>
    </div>
  </ion-content>
</ion-view>