<ion-view title="Em Falta" id="page20">
  <ion-content padding="true" class="has-header">
    <div id="emFalta-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:25px;">Losartana em falta no CS Pinheiros</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="home()" id="emFalta-button38" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>