<ion-view title="Foto" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/732YsVrTdg4SKus9auzw_receitaparajacky.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="foto-button-bar4" class="button-bar"></div>
    <a ui-sref="receita()" id="foto-button29" class="button button-positive button-block">Voltar</a>
    <a ui-sref="home()" id="foto-button30" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>