<ion-view title="Home" id="page10">
  <ion-content padding="true" class="has-header">
    <a ui-sref="centroDeSaDe()" id="home-button20" class="button button-positive button-block">Centro de Saúde</a>
    <a ui-sref="receita()" id="home-button21" class="button button-positive button-block">Receita</a>
    <a ui-sref="meusRemDios()" id="home-button22" class="button button-positive button-block">Meus Remédios</a>
    <button id="home-button24" class="button button-positive button-block">Agenda</button>
    <a ui-sref="emFalta()" id="home-button39" class="button button-positive button-block">Em Falta</a>
    <a ui-sref="avisos()" id="home-button40" class="button button-positive button-block">Avisos</a>
    <a ui-sref="reclamaEs()" id="home-button41" class="button button-positive button-block">Minhas Reclamações</a>
  </ion-content>
</ion-view>