<ion-view title="Lexotan" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="lexotan-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:25px;">Ansiolítico da classe dos benzodiazepínicos (faixa preta). Atualmente esta medicação tem prescrição restrita devido ao fato de afetar a memória, causar dependência e levar a depressão. Também pode desenvolver tolerância no uso sistemático.</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="meusRemDios()" id="lexotan-button32" class="button button-positive button-block">Voltar</a>
    <a ui-sref="home()" id="lexotan-button33" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>