<ion-view title="Losartana" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="losartana-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:25px;">Losartan ou Losartana é um medicamento da classe dos antagonistas dos receptores da angiotensina. Sua principal indicação é para tratamento de hipertensão arterial.</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="meusRemDios()" id="losartana-button34" class="button button-positive button-block">Voltar</a>
    <a ui-sref="home()" id="losartana-button35" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>