<ion-view title="Meus Remédios" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="meusRemDios-list7">
      <ion-item class="item-thumbnail-left" id="meusRemDios-list-item13">
        <img src="img/r9aYp4LxRRi3NOEr1ArG_losartana_21947_l.jpg">
        <h2>Losartana</h2>
        <p style="white-space:normal;">Proximo em 20/06/2018</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusRemDios-list-item15">
        <img src="img/4L3j8FamRMa9J7ePThpD_524049-No-ato-da-compra-o-indivduo-deve-apresentar-a-receita-mdica.-Foto-divulgao.jpg">
        <h2>Lexotan</h2>
        <p>Próximo em 01/07/2018</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="home()" id="meusRemDios-button31" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>