<ion-view title="Receita" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="receita-form3" class="list">
      <label class="item item-input" id="receita-input10">
        <input type="text" placeholder="Nome Remedio">
      </label>
      <label class="item item-input" id="receita-input11">
        <input type="number" placeholder="mg">
      </label>
      <label class="item item-input" id="receita-input12">
        <input type="text" placeholder="Nome Medico">
      </label>
      <label class="item item-input" id="receita-input13">
        <input type="number" placeholder="CRM">
      </label>
    </form>
    <div id="receita-button-bar1" class="button-bar">
      <a ui-sref="foto()" id="receita-button11" style="border-radius:3px 3px 3px 3px;" class="button button-positive button-block icon-left ion-android-camera">Ver Foto da Receita</a>
    </div>
    <div id="receita-button-bar3" class="button-bar">
      <a ui-sref="cMera()" id="receita-button27" style="border-radius:3px 3px 3px 3px;" class="button button-positive button-block icon-left ion-android-camera">Tirar Foto da Receita</a>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <a ui-sref="home()" id="receita-button13" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>