<ion-view title="Reclamações" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="reclamaEs-form4" class="list">
      <label class="item item-select" id="reclamaEs-select1">
        <span class="input-label">Remédios</span>
        <select>
          <option>Losartana</option>
          <option>Lexotan</option>
          <option>Carvedilol</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-positive" id="reclamaEs-toggle1">CADÊ MEU REMÉDIO</ion-toggle>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="home()" id="reclamaEs-button36" class="button button-positive button-block">Enviar</a>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="home()" id="reclamaEs-button37" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>