<ion-view title="Signup" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="tel" placeholder="Numero telefone (xx)9xxxx-xxxx">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="text" placeholder="Senha">
        </label>
        <label class="item item-input" id="signup-input6">
          <input type="text" placeholder="Confirma senha">
        </label>
        <label class="item item-input" id="signup-input9">
          <input type="text" placeholder="Bairro do Centro de Saúde">
        </label>
        <label class="item item-input" id="signup-input14">
          <input type="number" placeholder="Cartão SUS">
        </label>
      </ion-list>
      <a ui-sref="login()" id="signup-button3" class="button button-stable button-block">Sign up</a>
      <a ui-sref="login()" id="signup-button4" class="button button-stable button-block">Voltar</a>
    </form>
  </ion-content>
</ion-view>